plugins/collectors/nmap/raw/*
plugins/collectors/nmap/parsed/*
plugins/collectors/pykeylogger/raw/*
plugins/collectors/pykeylogger/parsed/*
plugins/collectors/tshark/raw/*
plugins/collectors/tshark/parsed/*
plugins/collectors/auditd/raw/*
plugins/collectors/auditd/parsed/*
*.JSON
*.json

*.pyc
*.class
